body {
	margin: 0;
	text-align: center;
	background: linear-gradient(-45deg, #ffffff, #314755);
	background-size: 400% 400%;
	font-family: "Bakbak One", cursive;
	height: 100%;
	width: 100%;
	/* animation: gradient 20s ease-in-out infinite; */
}

h1 {
	font-size: 40px;
}

p {
	margin: auto;
	margin-bottom: 2px;
	grid-column-start: 1;
	width: 100%;
	padding-block: 4px;
	border: none;
	border-radius: 8px;
	background: linear-gradient(-45deg, #91b9d0, #6c90a5);
	font-weight: lighter;
}

ul {
	display: grid;
	grid-template-columns: 1fr 49% 1fr;
	padding: 0;
}

li {
	display: grid;
	grid-template-columns: 100% 1fr 1fr;
	grid-column-start: 2;
}

#container {
	margin: 4rem auto;
	width: 70%;
	border: 2px solid rgb(190, 190, 190);
	border-radius: 16px;
	background-color: white;
	min-height: 400px;
	padding-bottom: 2em;
}

input {
	/* border: 1px solid rgb(141, 141, 141);
	border-radius: 8px; */
	border: none;
	border-bottom: 2px solid rgb(160, 160, 160);
	/* background: linear-gradient(rgb(255, 255, 255), rgb(240, 240, 240)); */
	padding: 2px;
	grid-column-start: 2;
	grid-column-end: 5;
	text-align: center;
	font-size: 16px;
}

input::placeholder {
	font-size: 12px;
}

input:focus {
	outline: none;
	border-bottom: 2px solid rgb(128, 128, 128);
}

button {
	cursor: pointer;
}

.additem {
	border: none;
	border-radius: 6px;
	background-color: #2d88ea;
	color: white;
	font-weight: bold;
	font-size: 10px;
}

.additem:hover {
	background-color: #449efe;
}

.additem:active {
	background-color: #2d88ea;
}

.sortitems,
.clearitems {
	border: 2px solid rgb(201, 201, 201);
	color: rgb(129, 129, 129);
	border-radius: 6px;
	background: none;
	font-weight: bold;
	font-size: 10px;
}

.sortitems:hover,
.clearitems:hover {
	border: 2px solid rgb(140, 140, 140);
	color: rgb(100, 100, 100);
	border-radius: 6px;
	background: none;
	font-weight: bold;
	font-size: 10px;
}

.sortitems:active,
.clearitems:active {
	border: 2px solid rgb(201, 201, 201);
	color: rgb(129, 129, 129);
}

.clearitems {
	grid-row-start: 2;
	grid-column-start: 2;
}

.additem {
	grid-row-start: 2;
	grid-column-start: 3;
}

.sortitems {
	grid-row-start: 2;
	grid-column-start: 4;
}

/* .donebtn {
	grid-column-start: 0;
	margin-left: 10px;
	margin-right: 5px;
	height: 33px;
	color: #0077ff;

	background: none;
	border: none;
	font-weight: bold;
	font-size: 12px;
	padding: 0;
} */

.editbtn {
	/* border: 1px solid rgb(141, 141, 141);
	border-radius: 12px;
	background: linear-gradient(rgb(255, 255, 255), rgb(190, 190, 190)); */
	/* padding-block: 6px;
	padding-inline: 12px; */
	grid-column-start: 2;
	margin-left: 10px;
	margin-right: 5px;
	height: 33px;
	color: #0077ff;

	background: none;
	border: none;
	font-weight: bold;
	font-size: 12px;
	padding: 0;
}

.removebtn {
	/* border: 1px solid rgb(141, 0, 0);
	border-radius: 12px;
	background: linear-gradient(rgb(255, 150, 150), rgb(255, 0, 0)); */
	/* padding-block: 6px;
	padding-inline: 12px; */
	height: 33px;
	color: rgb(170, 170, 170);

	background: none;
	border: none;
	font-weight: bold;
	font-size: 12px;
	padding: 0;
}

.editbtn:active {
	background: linear-gradient(rgb(190, 190, 190), rgb(255, 255, 255));
}

.removebtn:active {
	background: linear-gradient(rgb(255, 0, 0), rgb(255, 150, 150));
}

#inputs {
	display: grid;
	grid-template-columns: 1fr 16% 16% 16% 1fr;
	grid-template-rows: 1fr 28px;
	grid-gap: 5px;
	margin-bottom: 2em;
}

.inputEdit {
	font-family: "Bakbak One", cursive;
	margin: auto;
	background: linear-gradient(-45deg, #acdbf7, #89b7d1);
	border-radius: 8px;
	border: none;
	box-sizing: border-box;
	grid-column-start: 1;
	grid-column-end: 2;
	width: 100%;
	height: 30px;
	margin-bottom: 2px;
}

.inputEdit:focus {
	font-family: "Bakbak One", cursive;
	margin: auto;
	margin-bottom: 2px;
	background: linear-gradient(-45deg, #acdbf7, #89b7d1);
	border: none;
	border-radius: 8px;
	width: 100%;
	height: 30px;
	padding-block: 4px;
}

@media (min-width: 700px) {
	#container {
		max-width: 700px;
	}
}

@media (min-height: 700px) {
	#container {
		margin: 10rem auto;
	}
}
