body {
	margin: 0;
	text-align: center;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
	font-family: "Bakbak One", cursive;
}

#container {
	margin: 2rem auto;
	width: 70%;
	border: 2px solid rgb(190, 190, 190);
	border-radius: 16px;
	background: white;
	min-height: 400px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

input {
	border: 1px solid rgb(141, 141, 141);
	border-radius: 8px;
	background: linear-gradient(rgb(255, 255, 255), rgb(240, 240, 240));
	padding: 10px;
	grid-column-start: 2;
	grid-column-end: 5;
}

#additem,
#sortitems,
#clearitems {
	border: 1px solid rgb(141, 141, 141);
	border-radius: 12px;
	background: linear-gradient(rgb(255, 255, 255), rgb(240, 240, 240));
	padding: 10px;
}

#additem:hover,
#sortitems:hover,
#clearitems:hover {
	cursor: pointer;
}

#additem:active,
#sortitems:active,
#clearitems:active {
	background: linear-gradient(rgb(240, 240, 240), rgb(255, 255, 255));
}

#clearitems {
	grid-row-start: 2;
	grid-column-start: 2;
}

#additem {
	grid-row-start: 2;
	grid-column-start: 3;
}

#sortitems {
	grid-row-start: 2;
	grid-column-start: 4;
}

.removebtn {
	border: 1px solid rgb(141, 0, 0);
	border-radius: 12px;
	background: linear-gradient(rgb(255, 150, 150), rgb(255, 0, 0));
	padding-block: 6px;
	padding-inline: 12px;
	color: white;
	height: 32px;
}

.removebtn:hover {
	cursor: pointer;
}

.removebtn:active {
	background: linear-gradient(rgb(255, 0, 0), rgb(255, 150, 150));
}

.editbtn {
	border: 1px solid rgb(141, 141, 141);
	border-radius: 12px;
	background: linear-gradient(rgb(255, 255, 255), rgb(190, 190, 190));
	padding-block: 6px;
	padding-inline: 12px;
	height: 32px;
	grid-column-start: 2;
	margin-left: 10px;
	margin-right: 2px;
}

.editbtn:hover {
	cursor: pointer;
}

.editbtn:active {
	background: linear-gradient(rgb(190, 190, 190), rgb(255, 255, 255));
}

#inputs {
	display: grid;
	grid-template-columns: 1fr 16% 16% 16% 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 5px;
	margin-bottom: 2em;
}

ul {
	display: grid;
	grid-template-columns: 1fr 49% 1fr;
	padding: 0;
}

li {
	display: grid;
	grid-template-columns: 100% 1fr 1fr;
	grid-column-start: 2;
}

p {
	margin: auto;
	margin-bottom: 2px;
	grid-column-start: 1;
	width: 100%;
	padding-block: 4px;
	border: 1px solid rgb(141, 141, 141);
	border-radius: 12px;
	background: linear-gradient(-45deg, #44f08f, #5af1ff, #43f74c, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 40s ease infinite;
}

.inputEdit {
	text-align: center;
	box-sizing: border-box;
	margin: auto;
	grid-column-start: 1;
	grid-column-end: 2;
	width: 100%;
	height: 32px;
	border-radius: 12px;
	margin-bottom: 2px;
}
